# Ambiente virtuale
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

# Database locale


# Configurazioni locali
config.json
creaEXE.txt
main_mio.py

# Cartelle di export e backup
export/
backup/

# Log
*.log

# IDE
.idea/
.vscode/
*.iml
*.iws

# File di sistema
.DS_Store
Thumbs.db

# Build PyInstaller
build/
dist/
*.spec
